{% extends "base.html" %}
{% block title  %} Payment Confirmation {% endblock %}
{% block body %}
	<div class="content-section">
		<div class="center">
	  		<h2 style="text-align:center">Thank you {{ user_name }}. Payment of ${{ amount }}.{{cents}} received!</h2>
	  	</div>
	</div>
	<div style="text-align: center">
              <a href="{{ url_for('home.user_dashboard') }}" class="btn btn-default btn-lg">
                <i class="fa fa-mail-reply"></i>
                Return
              </a>
            </div>
{% endblock %}