<!-- app/templates/admin/events/events.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Event{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">{{ event.name }}</h1>
        <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr
                  class="table-active">
                  <th width="20%"> Name </th> <td> {{ event.name }} </td> 
                </tr>
                 <tr
                  class="table-active">
                  <th width="15%"> Time </th> <td> {{ event.timeD }} </td> 
                </tr>
                 <tr
                  class="table-active">
                  <th width="15%"> Date </th> <td> {{ event.date }} </td> 
                </tr>
                 <tr
                  class="table-active">
                  <th width="15%"> Location </th> <td> {{ event.location }} </td> 
                </tr>
                 <tr
                  class="table-active">
                  <th width="15%"> Description </th> <td> {{ event.description }} </td> 
                </tr>    
              </thead>
            </table>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width= "33%"> RSVP List </th>
                  <th width= "33%"> Guests List</th>
                  <th width= "33%"> Menus </th>
                </tr>
              </thead>
              <tbody>
                <tr>  
                  <td>
                      <a href="{{ url_for('user.event_RSVPlist', id=event.id) }}">
                        <i class="fa fa-eye"></i> View
                      </a>
                    </td>
                  <td>
                    <a href="{{ url_for('user.event_guestlist', id=event.id) }}">
                      <i class="fa fa-eye"></i> View  
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('user.event_menus', id=event.id) }}">
                      <i class="fa fa-file-photo-o"></i> View 
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="center">
                <h1 style="text-align:center;">RSVP</h1>
                {% if guest_attending %}
                <div style="text-align: center">
                    <a href="{{ url_for('user.set_attendance', id = event.id) }}" class="btn btn-default btn-lg">
                      Set Not Attending
                    </a>
                </div>
                {% else %}
                <div style="text-align: center">
                    <a href="{{ url_for('user.set_attendance', id = event.id) }}" class="btn btn-default btn-lg">
                      Set Attending
                    </a>
                </div>
                {% endif %}     
                <br/>
              </div>
            <div style="text-align: center">
              <a href="{{ url_for('user.list_events') }}" class="btn btn-default btn-lg">
                <i class="fa fa-mail-reply"></i>
                Return
              </a>
            </div>
          </div>
        <tr class="intro-divider"></tr>
      </div>
    </div>
  </div>
</div>
{% endblock %}
