<!-- app/templates/home/admin_dashboard.html -->

{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Total Amount Raised</h1>
                    <h2>€{{cash}}.{{cents}}</h2>
                    <h3>Payment breakdown</h3>
                    <hr class="intro-divider">
                    <div class="center">
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th width="20%"> Name </th>
                            <th width="20%"> Date</th>
                            <th wdith="20%"> Type</th>
                            <th width="20%"> Purpose</th>
                            <th width="20%"> Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                          <tr style="background-color:rgba(0,0,0,.1)">
                            <td>{{ payment[0] }}</td>
                            <td>{{ payment[1] }}</td>
                            <td>{{ payment[2] }}</td>
                            <td>{{ payment[3] }}</td>
                            <td>€{{ payment[4] }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
