<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>OutReach Moldova</h1>
                    <h3>Outreach 
Moldova (ORM) is an Irish children’s charity that was set up 
in 2000 in response to an international plea for humanitarian aid for 
children with special needs living in state institutions.</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
