<!-- app/templates/admin/events/events.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Events</h1>
        {% if events %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width ="15%"> View </th>
                  <th width="15%"> Time </th>
                  <th width="15%"> Date </th>
                  <th width="15%"> Location </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Edit </th>
                  <th width="20%"> Delete </th>
                  <th width="15%"> Guests List</th>
                  <th> RSVP List </th>
                  <th width ="20%"> Invite List </th>
                  <th width="15%"> Menus </th>
                  <th width ="20%"> Email Guestlist </th>
                </tr>
              </thead>
              <tbody>
              {% for event in events %}
                <tr>
                  <td> {{ event.name }} </td>
                  <td>
                    <a href="{{ url_for('admin.view_event', id=event.id) }}">
                      <i class="fa fa-View"></i> View 
                    </a>
                  <td> {{ event.timeD }} </td>
                  <td> {{ event.date }} </td>
                  <td> {{ event.location }} </td>
                  <td> {{ event.description }} </td>
                  
                  <td>
                    <a href="{{ url_for('admin.edit_event', id=event.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_event', id=event.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.event_guestlist', id=event.id) }}">
                      <i class="fa fa-eye"></i> View  
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.event_RSVPlist', id=event.id) }}">
                      <i class="fa fa-eye"></i> View
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.invite_event', id=event.id) }}">
                      <i class="fa fa-plus"></i> Invite 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.event_menus', id=event.id) }}">
                      <i class="fa fa-file-photo-o"></i> View 
                     </a>
                   </td>
                   <td>    
                    <a href="{{ url_for('admin.event_guestlist_mailinglist', id=event.id) }}">
                      <i class="fa fa-plus"></i> Send Email
                    </a>
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No event have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_event') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Event
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
