{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Guest List{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Guest List</h1>
        {% if guests %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%"> Username </th>
                  <th width="20%"> First Name </th>
                  <th width="20%"> Last Name </th>
                  <th width="30%"> E-mail </th>
                  <th width ="40%"> Special Requirements
                  <th width="30%"> Edit Special Requirements 
                  <th width="20%"> Remove </th>
                </tr>
              </thead>
              <tbody>
              {% for guest in guests %}
                <tr>
                  <td> {{ guest.username }} </td>
                  <td> {{ guest.first_name }} </td>
                  <td> {{ guest.last_name }} </td>
                  <td> {{ guest.email }} </td>
                  <td> {{ guest.needs }} </td>
                  <td> 
                    <a href="{{ url_for('admin.needs_event', eid=id, uid=guest.id) }}">
                      <i class="fa fa-pencil"></i> Edit needs
                    </a>
                  </td>
                  <td class="center"><a href=" {{ url_for('admin.remove_guest', gid=guest.id, eid=id) }} "><button type="button" class="btn btn-primary btn-xs completed_box">X</button></a></td>
                 
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No guests have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.list_events') }}" class="btn btn-default btn-lg">
            <i class="fa fa-mail-reply"></i>
            Return
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
