<!-- app/templates/admin/events/livecount.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Event{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Live Count for {{ event.name }}</h1>
        <hr class="intro-divider">
        <h2 style="text-align:center;">$ Amount Raised</h2>
          <div class="center">
           
                    
    
            <table class="table table-striped table-bordered">
              <thead>
                <h3> Most Recent Donors </h3>
                <th width="20%"> Name </th>
                <th width="20%"> Amount</th>
                </thead>
            </table>
            <h3> Top Donors </h3>
            <table class="table table-striped table-bordered">
              <thead>
                <th width="20%"> Name </th>
                <th width="20%"> Amount</th>
                </thead>
            </table>
            <div style="text-align: center">
              <a href="{{ url_for('admin.list_events') }}" class="btn btn-default btn-lg">
                <i class="fa fa-mail-reply"></i>
                Return
              </a>
            </div>
          </div>
        <tr class="intro-divider"></tr>
      </div>
  </div>
    </div>
  </div>
</div>
{% endblock %}
