

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Event{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="20" />
</head>
<body>

<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Live Count for {{ event.name }}</h1>
        <h2 style="text-align:center;">€{{ cash }}.{{ cents }}</h2>
        <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="20%"> Name </th>
                  <th wdith="20%"> Type</th>
                  <th width="20%"> Amount</th>
                </tr>
              </thead>
              {% for p in payments %}
              <tr>
                <td width="34%">{{ p[0] }}</td>
                <td width="33%">{{ p[1] }}</td>
                <td width="33%">€{{ p[2] }}</td>
              </tr>
              {% endfor %}
            </table>
            <div style="text-align: center">
              <a href="{{ url_for('admin.list_events') }}" class="btn btn-default btn-lg">
                <i class="fa fa-mail-reply"></i>
                Return
              </a>
            </div>
          </div>
        <tr class="intro-divider"></tr>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% endblock %}
